.background {
  background: linear-gradient(170deg, #162227, #0a0908, #22333b, #95610f, #e99c20);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
  min-height: 100vh;
  margin: -10px;
  display: flex;
  justify-content: center;
  align-items: center
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
