.background {
  background: linear-gradient(170deg, #162227, #0a0908, #22333b, #95610f, #e99c20);
	background-color: #000000;
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  min-height: 101vh;
  margin: -10px;
  display: flex;
	flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.info {
	display: flex;
	height: 200px;
	width: 600px;
	padding: -10px 10px -10px 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #FFF;
	border-top: solid 5px #fff;
	border-bottom: solid 2px #fff;
}

.title {
	font-size: 88px;
	font-weight: 200;
	margin-bottom: 2px;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	align-self: flex-start;
	top: 0
}

.code-symbol {
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}

b {
	color: #e99c20
}

.subtitle {
	font-size: 21px;
	font-family: sans-serif;
	font-weight: 100;
	padding:0;
}

.button-container {
	margin: 30px 0px 30px 10px;
}

.show-modal-button {
	font-size: 15px;
	background: none;
	color: #DEDEDE;
	border: none;
	cursor: pointer;
}

.arrow {
	color: white;
	font-size: 20px;
	margin: 5px 0px 5px 0px;
	align-self: center;
	margin-left: 40%;
	cursor: pointer;
	background: none;
	border: none;
}
